
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
Library/*
/.vsconfig
.vs/*
Temp/*
ProjectSettings/*
/Assembly-CSharp.csproj
Logs/*
obj/*
/Minecraft Clone Emerald.sln
/Packages/manifest.json
/Packages/packages-lock.json
/UserSettings/EditorUserSettings.asset
/UserSettings/Layouts/default-2021.dwlt
/UserSettings/Search.settings
